.album-jigsaw {
	position: relative;
	width: 800px;
	height: 600px;
	margin: 10px auto;
}
.album-jigsaw > img {
	position: absolute;
	object-fit: cover;
}
/*one*/
.album-jigsaw > img:first-child:last-child {
	width: 100%;
	height: 100%;
}
/*two*/
.album-jigsaw > img:first-child:nth-last-child(2) {
	width: 66.66667%;
	height: 100%;
}
.album-jigsaw > img:nth-child(2):nth-last-child(1) {
	right: 0;
	width: 66.66667%;
	height: 100%;
	-webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(50% 0, 100% 0, 100% 100%, 0 100%);
}
/*three*/
.album-jigsaw > img:first-child:nth-last-child(3) {
	width: 62.5%;
	height: 100%;
}
.album-jigsaw > img:nth-child(2):nth-last-child(2) {
	right: 0;
	width: 37.5%;
	height: 50%;
}
.album-jigsaw > img:nth-child(3):nth-last-child(1) {
	right: 0;
	top: 50%;
	width: 37.5%;
	height: 50%;
}
/*four*/
.album-jigsaw > img:first-child:nth-last-child(4) {
	width: 50%;
	height: 50%;
}
.album-jigsaw > img:nth-child(2):nth-last-child(3) {
	left: 50%;
	width: 50%;
	height: 50%;
}
.album-jigsaw > img:nth-child(3):nth-last-child(2) {
	top: 50%;
	width: 50%;
	height: 50%;
}
.album-jigsaw > img:nth-child(4):nth-last-child(1) {
	left: 50%;
	top: 50%;
	width: 50%;
	height: 50%;
}
/*five*/
.album-jigsaw > img:first-child:nth-last-child(5) {
	width: 66.66667%;
	height: 66.66667%;
}
.album-jigsaw > img:nth-child(2):nth-last-child(4) {
	top: 66.66667%;
	width: 33.33333%;
	height: 33.33333%;
}
.album-jigsaw > img:nth-child(3):nth-last-child(3) {
	left: 33.33333%;
	top: 66.66667%;
	width: 33.33333%;
	height: 33.33333%;
}
.album-jigsaw > img:nth-child(4):nth-last-child(2) {
	left: 66.66667%;
	width: 33.33333%;
	height: 44.44444%;
}
.album-jigsaw > img:nth-child(5):nth-last-child(1) {
	right: 0;
	bottom: 0;
	width: 33.33333%;
	height: 55.55556%;
}
/*six*/
.album-jigsaw > img:first-child:nth-last-child(6) {
	width: 66.66667%;
	height: 66.66667%;
}
.album-jigsaw > img:nth-child(2):nth-last-child(5) {
	top: 66.66667%;
	width: 66.66667%;
	height: 33.33333%;
}
.album-jigsaw > img:nth-child(3):nth-last-child(4) {
	left: 33.33333%;
	top: 66.66667%;
	width: 66.66667%;
	height: 33.33333%;
}
.album-jigsaw > img:nth-child(4):nth-last-child(3) {
	left: 66.66667%;
	width: 33.33333%;
	height: 33.33333%;
}
.album-jigsaw > img:nth-child(5):nth-last-child(2) {
	left: 66.66667%;
	top: 33.33333%;
	width: 33.33333%;
	height: 33.33333%;
}
.album-jigsaw > img:nth-child(6):nth-last-child(1) {
	left: 66.66667%;
	top: 66.66667%;
	width: 33.33333%;
	height: 33.33333%;
}