#album-waterfall {
	width: 1000px;
	margin: auto;
}
#album-waterfall:after {
	content: " ";
	display: table;
	clear: both;
}
#album-waterfall > div {
	float: left;
	box-sizing: border-box;
}
#album-waterfall > div > img {
	width: 100%;
	vertical-align: middle;
	cursor: pointer;
}
#choises {
	text-align: center;
}

#display:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.fade {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	text-align: center;
	visibility: hidden;
  	background-color: rgba(0, 0, 0, 0);	
  	transition: background-color 0.15s ease 0s;
}
.fade.in {
	visibility: inherit;
	background-color: rgba(0, 0, 0, .8);
}
.fade img {
	vertical-align: middle;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;

}
.fade.in img {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}